################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.obj
*.idb
*.pdb
build/
tools/.vs/
/tools/visual_studio_2015/projects/mandelbrot_output.png
