################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.obj
*.idb
*.pdb
build/
tools/.vs/
